.panel {
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 30vw;
    padding-bottom: 2.5vh;
    margin-top: 1%;
}

.subbtn {
    outline: none;
    border: none;
    width: 4vw;
    background-color: rgba(255, 53, 147, 0.26);
    color: #ffffff;
}

#chinese_translate {
    margin-left: 9.5px;
    margin-top: 15px;
    font-size: 13px;
    font-weight: 500;
    position: absolute;

}

#english_translate {
    font-size: 13px;
    font-weight: 500;
}

.title {
    font-weight: 900;
    transition: all 0.2s;
    width: 20%;
    border-radius: 5px;
    font-weight: 400;
    font-size: 45px;
    margin-top: 9%;
    margin-bottom: 3%;
    color: white;
    /* color: rgba(11, 88, 255, 0.7);
    -webkit-text-stroke: 0.2px white; */
}


.title:hover {
    transition: all 0.2s;
    color: rgba(255, 253, 253, 0.7);
}

input:hover {
    box-shadow: 0px 0px 5px white;
}

button:hover {
    box-shadow: 0px 0px 5px white;
}

.item {
    width: 30vw;
    border: none;
    background-color: rgba(255, 255, 255, 0.);
    line-height: 9vh;
    position: relative;
}

.item input {
    height: 5%;
    width: 70%;
    background-color: rgba(255, 255, 255, 0.3);
    outline: none;
    border: none;
    border-bottom: white solid 2px;
}

.item label {
    top: 0px;
    transition: all 0.4s linear;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    left: 4.5vw;
    position: absolute;
}

.item input:focus+label {
    top: -20px;
    font-size: 12px;
}

.item input:valid+label {
    top: -20px;
    font-size: 12px;
}

.item>#Email:valid+label {
    top: -20px;
    font-size: 12px;
    border-bottom-color: #2EFE2E;
}

#email:invalid {
    font-size: 12px;
}

/* #body {
    background-image: url('../img/bgimg2.jpg');
} */

/* 版权,联系方式设置 */
/* 绝对定位，左、右各为0对齐*/
.copy {
    background: rgba(255, 255, 255, 0.3);
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-weight: 100;
    font-size: 10px;
}

.next_copy {
    padding-bottom: 1%;
    display: flexbox;
}