@font-face {
  font-family: fontstyle2;
  src: url('../font/思源字体/SourceHanSansSC-ExtraLight.otf');
}

/* 设置第三方登录图片 */
img:hover {
  transition: 1.2s all;
  border: 1px inset rgba(255, 255, 255, 0.5);
  border-radius: 1.25rem;
}

img {
  transition: 1.2s all;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  width: 2rem;
  height: 2rem;
}

/*主体设置*/
.main {
  min-width: 1700px;
  min-height: 795px;
  overflow: hidden;
}

.main_flex {
  display: flex;
  flex: 0.7;
}

/* 主登录面板浮动设置 */
.LoginPanel_flex {
  right: 0px;
  left: 0px;
  display: flexbox;
  width: 100%;
  position: absolute;
  transform: translate(17.5%, 50%);
}

/* 第二层登录div浮动\背景设置 */
.Next_LoginPanel {
  left: 0px;
  right: 0px;
  /* border: 5px outset rgba(255, 255, 255, 0.7); */
  padding-bottom: 2%;
  padding: 10px 0px;
  border-radius: 10px;
  /* top: 0; */
  margin-left: 15%;
  width: 35%;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 10px black;
}

/* 标题设置 */
.title {
  color: white;
  font-weight: 600;
  font-size: 45px;
  font-family: fontstyle2;
}

.title_font {
  width: 50%;
  border-radius: 5px;
  background: rgba(15, 147, 255, 0.2);
}

#title {
  color: white;
  font-weight: 300;
  font-family: fontstyle2;
}

/* 提交按钮设置 */
.input_submit:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px white;
}

.input_submit:active {
  transition: all 0.3s;
  border: 2.5px inset rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 25px white inset;
}

.input_submit {
  transition: all 0.5s;
  border: 2.5px outset rgba(255, 255, 255, 0.5);
  background: transparent;
  width: 60px;
  font-size: 14px;
  border-radius: 5px;
}

/* 跳转按钮设置 */
.input_link:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 10px white;
}

.input_link:active {
  transition: all 0.3s;
  border: 2.5px inset rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 25px white inset;
}

.span_input_button_flex {
  /* 提交和跳转按钮布局设置 */
  display: inline-flex;
}

.input_link {
  background-color: transparent;
  transition: all 0.5s;
  font-size: 14px;
  width: 60px;
  border-radius: 5px;
  border: 2.5px outset rgba(255, 255, 255, 0.5);
}

/* 版权联系方式设置 */
.copy {
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
}

.next_copy {
  display: flexbox;
  padding-bottom: 5px;
}

/* 第三方图标设置 */
.login_other {
  background-color: rgba(255, 255, 255, 0.17);
}


#input {
  /* 密码*/
  outline: none;
  width: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  background-color: transparent;
}


/* 输入提示 */
label {
  font-weight: 600;
  color: black;
  transition: all 0.5s;
  bottom: 1px;
  font-size: 16px;
  position: absolute;
}


#input_pwd {
  outline: none;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

#input_usr {
  outline: none;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.item {
  position: relative;
}