@font-face {
  font-family: fontstyle2;
  src: url('../font/思源字体/SourceHanSansSC-ExtraLight.otf');
}

/* 设置第三方登录图片 */
img:hover {
  transition: 1.2s all;
  border: 1px inset rgba(255, 255, 255, 0.5);
  border-radius: 1.25rem;
}

img {
  transition: 1.2s all;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 1.25rem;
  width: 2rem;
  height: 2rem;
}

/*主体设置*/

/* 主登录面板浮动设置 */


/* 第二层登录div浮动\背景设置 */


/* 标题设置 */
.title {
  color: white;
  font-weight: 600;
  font-size: 40px;
  font-family: fontstyle2;
}

.title_font {
  margin-bottom: 5%;
  width: 50%;
  border-radius: 5px;
}

#title {
  color: white;
  font-weight: 300;
  font-family: fontstyle2;
}

/* 提交按钮设置 */
.input_submit:hover {
  transition: all 0.5s;
  box-shadow: 0px 0px 10px white;
}

.input_submit:active {
  transition: all 0.3s;
  border: 2.5px inset rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 25px white inset;
}

.input_submit {
  transition: all 0.5s;
  border: 2.5px outset rgba(255, 255, 255, 0.712);
  background: rgba(255, 255, 255, 0.5);
  width: 60px;
  font-size: 14px;
  border-radius: 5px;
}

/* 跳转按钮设置 */
.input_link:hover {
  transition: all 0.3s;
  box-shadow: 0px 0px 10px white;
}

.input_link:active {
  transition: all 0.3s;
  border: 2.5px inset rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 25px white inset;
}

.span_input_button_flex {
  display: inline-flex;
}

/* 提交和跳转按钮布局设置 */
.input_link {
  background-color: rgba(255, 255, 255, 0.5);
  transition: all 0.5s;
  font-size: 14px;
  width: 10vw;
  border-radius: 5px;
  border: 2.5px outset rgba(255, 255, 255, 0.712);
}

/* 版权联系方式设置 */
.copy {
  background: rgba(255, 255, 255, 0.5);
  left: 0;
  right: 0;
  position: absolute;
  bottom: 0;
  font-weight: 100;
  font-size: 10px;
  text-align: center;
}

.next_copy {
  display: flexbox;
  padding-bottom: 5px;
}

/* 第三方图标设置 */
.login_other {
  background-color: rgba(255, 255, 255, 0.17);
}


#input {
  /* 密码*/
  outline: none;
  width: 40%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  background-color: transparent;
}


/* 输入提示 */
label {
  font-weight: 600;
  color: black;
  transition: all 0.5s;
  bottom: 1px;
  font-size: 16px;
  position: absolute;
}


#input_pwd {
  outline: none;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

#input_usr {
  outline: none;
  width: 50%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(255, 255, 255, 0.5);
}

.item {
  position: relative;
}

.panel {
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  border: 1px solid white;
  display: flexbox;
  width: 40%;
}